<div class="page-container">
  <h1>Frequently asked questions</h1>
  <div class="faqs col-container">
    <div class="col">
      <div class="q">
        Q: Do I need Solar to participate?
      </div>
      <div class="a">
        A: Yes. You need a means to generate energy.
      </div>

      <div class="q">
        Q: Do I need a battery to participate?
      </div>
      <div class="a">
        A: Yes. You need a means to store your energy that you want to sell.
      </div>

      <div class="q">
        Q: Do I have to be an AGL customer?
      </div>
      <div class="a">
        A: Yes. This is so that you can sell your excess energy to AGL
      </div>

      <div class="q">
        Q: Why don’t I just sell it to AGL?
      </div>
      <div class="a">
        A: You can, but you only get the standard tariff (e.g. 6c per kWh in Victoria, or 24c per kWh in SA, etc). By signing up, you could get paid an extra $3,000 per year*.
      </div>

      <div class="q">
        Q: How is the spot price calculated?
      </div>
      <div class="a">
        A: The sell price fluctuates based on supply and demand
      </div>

      <div class="q">
        Q: Why do you need access to my solar battery?
      </div>
      <div class="a">
        A: This is so that we can automatically export out your energy at the price you nominate.
      </div>
    </div>

    <div class="col">
      <div class="q">
        Q: What is the Current Balance view?
      </div>
      <div class="a">
        A: You can view how much $ your system has generated since you participated
      </div>

      <div class="q">
        Q: When will the $ hit my account?
      </div>
      <div class="a">
        A: You can withdraw your Current Balance at any time. If withdrawn, we will pay your Solar Credits immediately. Think of this as your Personal ATM
      </div>

      <div class="q">
        Q: Can I be alerted when the sell price is high?
      </div>
      <div class="a">
        A: Yes. You can request to be have an alert notification sent out
      </div>

      <div class="q">
        Q: What’s in it for AGL?
      </div>
      <div class="a">
        A: AGL benefits from a smoothed out usage.
      </div>

      <div class="q">
        Q: Does it cost anything to participate?
      </div>
      <div class="a">
        A: No. You are free to elect to sell whenever you choose.
      </div>
    </div>
  </div>
</div>
