.container {
    display:-moz-box;
    display:-webkit-box;
    display:box;
    -moz-box-orient:horizontal;
    -webkit-box-orient:horizontal;
    box-orient:horizontal;
    width:100%;
}

.column {
    -moz-box-flex:1;
    -webkit-box-flex:1;
    box-flex:1;
    background-color: white;
    min-height: 130px;
    box-shadow: 0 0 6px 0 rgba(0,0,0,0.1);
    margin: 20px;
    padding: 12px 20px;
    width: calc(100% / 3);
}

.title {
    font-size: 16px;
    font-family: 'Titillium Web', sans-serif;
    text-transform: uppercase;
    font-weight: bold;
}

.amount {
    font-family: 'Titillium Web', sans-serif;
    font-size: 55px;
    text-align: center;
    padding: 35px 0;
}

.user-button {
    width: 100%;
    margin-top: 30px;
}

.user-button-100-2 {
    width: 100%;
    margin-top: 18px;
}

.user-button-50 {
    width: 49%;
    display: inline-block;
    margin-top: 0px;
}

.intro {
    padding-left: 20px;
    font-size: 20px;
    padding-top: 20px;
    padding-bottom: 0px;
}

.tile {
    background-color: white;
    box-shadow: 0 0 6px 0 rgba(0,0,0,0.1);
    padding: 12px 20px;
    margin: 20px;
}

.graph {
    padding-top: 20px;
    padding-bottom: 20px;
    display: block;
}