<div class="page-container">
  <div class="intro">
    Hi {{name}}, welcome to your Solarbank dashboard.
  </div>
  <div class="container">
      <div class="column">
          <div class="graph">
            <kendo-chart style="height: 300px;">
              <ng-template kendoChartDonutCenterTemplate>
                <h3>55 kWh</h3>
              </ng-template>
              <kendo-chart-series>
                <kendo-chart-series-item
                    type="donut" [data]="data"
                    categoryField="kind" field="share">
                  <kendo-chart-series-item-labels
                    [content]="labelContent"
                    color="#fff" background="none">
                  </kendo-chart-series-item-labels>
                </kendo-chart-series-item>
              </kendo-chart-series>
              <kendo-chart-legend [visible]="false"></kendo-chart-legend>
            </kendo-chart>
          </div>
          <div class="title">Your energy storage</div>
          <div class="explaination">
            <p>Currently you are making more energy than you are consuming.</p>
            <p>When you sell, we will direct this energy back into the grid.</p>
          </div>
      </div>
      <div class="column">
        <div class="icon">
          <img class="current-rate" src="assets/svg/cashmoneymillionaire.svg">
        </div>
        <div class="title">Current rate: ${{rate}}</div>
        <div class="explaination">
          <p>
            This is the current buying rate that we’ll pay you if you decide to sell your surplus energy.
          </p>
          <button type="button" class="user-button big-button hero-button" (click)="sellNow()">Sell Now</button>
          <span>This figure will go directly into your balance.</span>
        </div>
      </div>
      <div class="column">
          <div class="icon">
            <img class="balance" src="assets/svg/wallet.svg">
          </div>
          <div class="title">Balance: ${{balance}}</div>
          <div class="explaination">
            <p>
              Withdraw your earnings, donate them, or add them to your AGL account balance.
            </p>
            <button type="button" class="user-button-100-2 big-button hero-button" routerLink="/cash-out-my-earnings">Cash out my earnings</button>
          </div>
      </div>
  </div>

  <div class="tile">
    <app-graphs class="graph"></app-graphs>
  </div>
</div>

<kendo-dialog *ngIf="openDialog" (close)="onClose()">
  <p style="margin: 30px; text-align: center; font-size: 16px; color: #333;">
    Are you sure you want to sell now?
  </p>
  <p><span (click)="resetValues()">Reset Wallet Balance</span></p>
  <p><span (click)="update('rainy')">Update for rainy day</span></p>
  <p><span (click)="update('cloudy')">Update for cloudy day</span></p>
  <p><span (click)="update('sunny')">Update for sunny day</span></p>

  <kendo-dialog-actions>
    <button class="accept-button" (click)="onAccept()">Yes</button>
    <button class="accept-button-white" (click)="onDecline()">No</button>
  </kendo-dialog-actions>
</kendo-dialog>
