.container {
    display:-moz-box;
    display:-webkit-box;
    display:flex;
    -moz-box-orient:horizontal;
    -webkit-box-orient:horizontal;
    box-orient:horizontal;
    width:100%;
}

.column {
    -moz-box-flex:1;
    -webkit-box-flex:1;
    box-flex:1;
    background-color: white;
    min-height: 130px;
    box-shadow: 0 0 6px 0 rgba(0,0,0,0.1);
    margin: 20px;
    padding: 12px 20px;
    width: calc(100% / 3);
}

.title {
    font-size: 24px;
    font-weight: bold;
    font-family: "Open Sans";
    text-align: center;
    margin-top: -9px;
}

.explaination {
    text-align: center;
    font-size: 16px;
    line-height: 22px;
    color: #333333;
    max-width: 280px;
    margin: 0px auto;
}

.explaination span {
    font-size: 12px;
    color: #333333;
    margin-top: 15px;
    display: block;
}

.user-button {
    width: 100%;
    margin-top: 10px;
}

.user-button-100-2 {
    width: 100%;
    margin-top: 10px;
}

.user-button-50 {
    width: 49%;
    display: inline-block;
    margin-top: 0px;
}

.intro {
    padding-left: 20px;
    font-size: 26px;
    padding-top: 70px;
    padding-bottom: 0px;
}

.tile {
    margin-top: 10px;
    margin-bottom: 50px;
}

.icon {
    width: 100%;
    height: 300px;
}

.current-rate {
    padding-top: 92px;
    width: 227px;
    margin-left: 80px;
}

.balance {
    margin-top: 63px;
    width: 200px;
    margin-left: 100px;
}

.graph {
    display: block;
}

@media only screen and (max-width : 1050px) {
    .column {
        width: 100%;
        display: inline-block;
        margin: 0px 0 30px 0;
    }

    .intro {
        padding-bottom: 20px;
    }

    .tile {
        margin: 0px 0 30px 0;
    }
}
