<div class="wallet">
  <div class="header">What would you like to do with your earnings?</div>
  <div class="content">
    <div class="box">
      <img class="dollar" src="assets/svg/cashmoneymillionaire.svg" alt="dollar">
      <div class="heading">Withdraw</div>
      <div class="body">Withdraw your earrnings to a nominated bank account</div>
    </div>
    <div class="box">
      <img class="gift"src="assets/svg/getgiffty.svg" alt="gift">
      <div class="heading">Donate</div>
      <div class="body">Donate your earnings to a charity or someone in need</div>
    </div>
    <div class="box">
      <img class="wallet-icon" src="assets/svg/wallet.svg" alt="wallet">
      <div class="heading">Use with AGL</div>
      <div class="body">Transfer your earnings to your AGL My Account balance</div>
    </div>
  </div>
</div>

