.landing {
    padding: 85px 0;
}

@media (max-width: 830px) {
  .landing {
    padding: 50px 0;
  }
}

.landing-bg {
    width: 100%;
	color: #FFFFFF;	
    font-family: 'Titillium Web', sans-serif;	
    font-weight: 600;
    position: relative;
}

.landing-info-box {
    background-color: white;
    margin: 0 auto;
    margin-top: -10%;
    width: 100%;
    max-width: 830px;
    height: 340px;
    display: flex;
    justify-content: space-between;
    text-align: center;
    color: #333;
    box-shadow: 0 0 6px 0 rgba(0,0,0,0.1);
    position: relative;
    z-index: 1;
}

.harness {
    flex: 1;
    padding: 40px;
}

.earn {
    flex: 1;
    padding: 40px;
}

.cash-out {
    flex: 1;
    padding: 40px;
}

.image {
    width: 148px;
    height: 126px;
    border-radius: 4px;
    background-color: #FFF;
    margin: 0 auto;
    position: relative;
}

.yellow {
    color: #FFE344;
}

.blue {
    color: #001CB0;
}

.green {
    color: #36a723;
}

.header {
    font-weight: bold;
    line-height: 22px;
    padding-top: 32px;
}

.body {
    padding-top: 10px;
	font-size: 14px;
    line-height: 19px;
}

.hero-content-wrap {
    margin: 0 auto;
    max-width: 830px;
    width: 100%;
    position: absolute;
    top: 36%;
    left: 50%;
    transform: translate(-46.15%, -50%);
    margin-left: -30px;
}

.down {
    display: none;
}

@media (max-width: 992px) {
  .hero-content-wrap {
    text-align: center;
  }
}

.hero-header {
    font-size: 48px;
    line-height: 53px;
}

.header-body {
	font-size: 24px;	
    line-height: 36px;
}

.hero-button {
    margin-top: 4vw;
}

.hero-image {
    width: 100%;
}

.hero-image-mob {
    width: 100%;
    display: none;
    height: calc(100vh - 50px);
}

.harness-logo {
    width: 156px;
}

.earn-logo {
    width: 117px;
}

.cash-logo {
    width: 106px;
}

.image-logo {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

@media (max-width: 992px) {
    .hero-image {
        width: 1000px;
        display: none;
    }

    .hero-image-mob {
        display: block;
        height: 450px;
    }

    .hero-content-wrap {
        top: 50%;
        transform: translate(-50%, -50%);
    }

    .landing-info-box {
        margin-top: 0;
    }
}

@media (max-width: 767px) {
    .landing-bg {
        height: calc(100vh - 50px);
    }

    .landing-info-box {
        display: block;
        height: auto;
        padding: 20px 0;
    }

    .harness, .earn, .cash-out {
        padding: 65px;
    }

    .hero-image-mob {
        height: calc(100vh - 50px);
    }

    .hero-content-wrap {
        margin-left: 0;
        padding: 0 25px;
        margin-top: -20px;
    }

    .hero-header {
        font-size: 32px;
        line-height: normal;
    }

    .header-body {
        font-size: 20px;
        font-weight: normal;
        line-height: normal;
    }

    .hero-button {
        margin-top: 30px;
    }

    .harness, .earn, .cash-out {
        padding: 25px;
    }

    .header {
        padding-top: 15px;
    }

    .down {
        display: block;
        position: absolute;
        bottom: 20px;
        left: 50%;
        transform: translateX(-50%);
        font-size: 32px;
    }

    .down-1 {
        bottom: 30px;
    }
}