<div class="landing">
  <div class="landing-bg">
    <img class="hero-image" src="assets/svg/poos.png" alt="banner">
    <img class="hero-image-mob" src="assets/img/solar-panel.jpg" alt="banner">
    <div class="hero-content-wrap">
      <div class="hero-header">Your personal ATM</div>
      <div class="header-body">Sell the energy you generate with AGL SolarBank</div>
      <button type="button" class="big-button hero-button" (click)="login()">Login to solarbank</button>
    </div>
  </div>

  <div class="landing-info-box">
    <div class="harness">
      <div class="image">
        <i class="material-icons yellow">&#xE430;</i>
      </div>
      <div class="header">Harness</div>
      <div class="body">Leverage your existing solar unit to create surplus energy</div>
    </div>
    <div class="earn">
      <div class="image">
        <i class="material-icons blue">&#xE8E5;</i>
      </div>
      <div class="header">Earn</div>
      <div class="body">Sell your excess energy back to the grid at market prices</div>
    </div>
    <div class="cash-out">
      <div class="image">
        <i class="material-icons green">&#xE870;</i>
      </div>
      <div class="header">Cash Out</div>
      <div class="body">Withdraw your earnings to a bank account, or add them to your AGL account balance</div>
    </div>
  </div>
</div>
