<div class="header">
  <div class="header-wrapper">
    <div class="header-text">SOLARBANK</div>
    <div class="header-links" *ngIf="!isAuthenticated()">
      <div class="header-link"><a routerLink="/" routerLinkActive="active-link">Home</a></div>
      <div class="header-link"><a routerLink="/how-it-works" routerLinkActive="active-link">How it works</a></div>
    </div>
    <div class="header-links" *ngIf="isAuthenticated()">
      <div class="header-link"><a routerLink="/home" routerLinkActive="active-link">My Account</a></div>
      <div class="header-link"><a routerLink="/graphs" routerLinkActive="active-link">Graths</a></div>
    </div>
    <div class="header-login">
      <img src="assets/svg/icon_person.svg" alt="login icon" class="login-logo">
      <div class="login-text">{{loginName()}}</div>
    </div>
  </div>
</div>
