<div class="header">
  <div class="header-wrapper">
    <img class="header-logo" src="assets/svg/icon_agl.svg" alt="logo">
    <div class="header-links">
      <div class="header-link"><a routerLink="/" routerLinkActive="active-link">Home</a></div>
      <!--<div class="header-link"><a href="#">Home</a></div>-->
      <div class="header-link"><a routerLink="/how-it-works" routerLinkActive="active-link">How it works</a></div>
      <div class="header-link"><a routerLink="/something" routerLinkActive="active-link">Something else cool</a></div>
    </div>
    <div class="header-login">
      <img src="assets/svg/icon_person.svg" alt="login icon" class="login-logo">
      <div class="login-text">Login</div>
    </div>
  </div>
</div>

<app-mobile-header></app-mobile-header>
