.header {
    position: fixed;
    font-family: 'Titillium Web', sans-serif;
    width: 100%;
    color: #666666;
    text-transform: uppercase;
	font-weight: 600;
    letter-spacing: 2px;
    line-height: 30px;
    box-shadow: 0 5px 13px 0 rgba(0,0,0,0.1);
    z-index: 50;
    background-color: white;
}

@media (max-width: 835px) {
  .header {
    display: none;
  }
}

.header-wrapper {
    max-width: 1430px;
    padding: 15px 15px;
    margin: 0 auto;
    position: relative;
    height: 85px;
}

.header-text {
    display: inline-block;
    color: #001CB0;
    font-size: 30px;
    margin-top: 11px;
}

.header-links {
    display: inline-block;
    vertical-align: top;
    margin-top: 11px;
}

.header-link {
    display: inline-block;
    padding-left: 35px;
}

.header-login {
    margin-top: 11px;
    float: right;
}

.header-login:hover {
    color: #001CB0;
    cursor: pointer;
}

.login-logo {
	height: 15px;
    display: inline-block;
    margin-bottom: -1px;
}

.login-text {
    display: inline-block;
    margin-left: 5px;
}

a {
    color: #666666;
    text-decoration: none;
    padding: 10px;
}

.active-link {
    color: #001CB0;
}

.header-balance {
    font-family: "Titillium Web";
    display: inline-block;
    font-size: 16px;
    float: right;
    padding-right: 40px;
    padding-top: 10px;
}

.header-balance span {
    color: #001CB0;
}

.header-balance span:hover {
    cursor: pointer;
}
