/* Reset */
html,
body,
div {
  border: 0;
  margin: 0;
  padding: 0;
}

html, body {
  height: auto;
  font-family: 'Open Sans', sans-serif;
}

/* Box-sizing border-box */
* {
  box-sizing: border-box;
}