.mobile-header {
    display: none;
    position: fixed;
    padding: 15px;
    height: 50px;
    width: 100%;
    font-family: 'Titillium Web', sans-serif;
    text-transform: uppercase;
	font-weight: 600;	
    letter-spacing: 2px;	
    z-index: 50;
    background-color: white;
    box-shadow: 0 5px 13px 0 rgba(0,0,0,0.1);
}

@media (max-width: 835px) {
  .mobile-header {
    display: block;
  }
}

.login {
    float: right;
    margin-top: -2px;
}

.header-logo {
    height: 30px;
    position: relative;
    top: -7px;
    left: -5px;
}

.login-logo {
    height: 15px;	
    display: inline-block;
    margin-bottom: -1px;
}

.block {
    display: inline-block;
    cursor: pointer;
}

.header-burger {
    width: 38px;
    position: relative;
    top: -7px;
    left: -7px;
    padding: 8px;
}

.hero-image {
    width: 100%;
}
